.photo-item {
  position: relative;
  margin: 1rem;
}

.photo-item__info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4430147058823529) 0%, rgba(0, 0, 0, 0) 100%);
}

.hidden {
  display: none;
}

.photo-item__author {
  display: flex;
  margin-bottom: 0.9rem;
  margin-left: 0.9rem;
}

.photo-item__author-name {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #d1caca;
}

.photo-item__author-name:hover {
  color: #f7f4f4;
}

.photo-item__author-like {
  margin: 0.8rem 0.8rem;
  background: none;
  outline: none;
  border: none;
}

.photo-item__author-like:active {
  outline: none;
}

.photo-item__author-like:hover {
  cursor: pointer;
}
